.el-collapse-item__header{
    font-size: 18px;
    word-spacing:4px;
    padding-left: 30px;
    color: rgb(120, 120, 120)
}
.el-collapse-item__content{
    padding:0;
}
span>i{
    // margin: 0 8px 0 auto;
    // position: Absolute; top: 20px; right: 0px;
    // margin-left: auto
   
}