.input-div {
  padding: .3rem;

  .el-input__inner {
    color: #b4b4b4;
  }
}

.list-item {
  background-color: #ffffff;
  padding: .2rem .8rem;
  border-bottom: 1px solid rgb(238, 238, 238);
}
.no-list {
  margin-top: 1rem;
  div {
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #b8b8b8;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
      width: 60%;
	  height: 60%;
    }
  }

  p {
    text-align: center;
	margin-top: .2rem;
    color: #4d4d4d;
    font-size: .35rem;
    letter-spacing: 1px;
  }
}